* {
  box-sizing: border-box;
}

body {
  background-color: #EEF3F4;
  font-size: 20px;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.com-inner {
  width: 85.3%;
  margin: 0 auto;
  max-width: 1180px;
}
.about-header{
  font-size: 45px;
  text-align: center;
  padding: 20px 0;
  color: #030394;
}
/* About Us Page First Section */

.about-first-sec{
  padding: 100px 0 0;
}
.about-first-sec h2{
  color: #030394;
}
.about-first-sec .left-img{
  float: left;
  width: 70%;
  max-width: 700px;
}
.about-first-sec .right-txt{
  float: right;
  width: 30%;
  font-size: 23px;
  color: #01013f;
  padding: 0 15px;
}
/* About Us Page Second Section */

.about-second-sec{
  padding: 30px 0 0;
}
.about-second-sec .service{
  font-size: 30px;
}
.about-second-sec .service ul li{
  padding: 20px;
}

/* About Us Page Third Section */

.about-third-sec{
  padding: 20px 0 50px;
}
.about-third-sec .contact{
  padding: 20px 0;
}
.pc{
  display: block;
}
.sp{
  display: none;
}
.about-third-sec .contact .contact-img{
  float: left;
  max-width: 615px;
  width: 61.1%;
}
.about-third-sec .contact .contact-us{
  float: right;
  font-size: 20px;
  width: 38%;
  padding: 9% 10px;
}
.about-third-sec .contact .contact-us ul li{
  padding: 10px 0;
}
/*  Ipad  */    
@media screen and (min-width: 768px) and (max-width: 1180px) {
  body {
    font-size: 2.604vw;
  }
  
  .com-inner {
    width: 85.3%;
    margin: 0 auto;
    max-width: 89.583vw;
  }
  .about-header{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    color: #030394;
  }
  /* h2{
    font-size: 3.906vw;
    text-align: center;
    padding: 2.604vw 0;
  } */
  /* About Us Page First Section */
  
  .about-first-sec{
    padding: 0.021vw 0 0;
  }
  .about-first-sec h2{
    margin-top:0;
    margin-bottom:0;
    color: #030394;
  }
  .about-first-sec .left-img{
    float: left;
    width: 100%;
    max-width: none;
  }
  .about-first-sec .right-txt{
    float: right;
    width: 100%;
    font-size: 2.495vw;
    color: #01013f;
    padding: 10% 1.953vw;
  }
  /* About Us Page Second Section */
  
  .about-second-sec{
    padding: 3.906vw 0 0;
  }
  .about-second-sec .service{
    font-size: 2.344vw;
  }
  .about-second-sec .service ul li{
    padding: 2.604vw;
  }
  
  /* About Us Page Third Section */
  
  .about-third-sec{
    padding: 2.604vw 0 0;
  }
  .pc{
    display: block;
  }
  .sp{
    display:none;
  }
  .about-third-sec .contact .contact-img{
    float: left;
    margin: 0 auto;
    max-width: 80.078vw;
    width: 94%;
  }
  .about-third-sec .contact .contact-us{
    float: right;
    font-size: 2.604vw;
    width: 100%;
    padding: 10% 4.818vw;
  }
}
/*  SP  */   
@media screen and (max-width:767.9px) {
  body {
    font-size: 3.125vw;
  }
  
  .com-inner {
    width: 85.3%;
    margin: 0 auto;
    max-width: 93.125vw;
  }
  /* h2{
    font-size: 4.688vw;
    text-align: center;
    padding: 3.125vw 0;
  } */
  /* About Us Page First Section */
  
  .about-first-sec{
    padding: 0.625vw 0 0;
  }
  .about-first-sec h2{
    color: #030394;
  }
  .about-first-sec .left-img{
    float: left;
    width: 100%;
    max-width: none;
  }
  .about-first-sec .right-txt{
    float: right;
    width: 100%;
    font-size: 3.394vw;
    color: #01013f;
    padding: 10% 2.344vw;
  }
  /* About Us Page Second Section */
  
  .about-second-sec{
    padding: 0.688vw 0 0;
  }
  .about-second-sec .service{
    font-size: 3.125vw;
  }
  .about-second-sec .service ul li{
    padding: 3.125vw;
  }
  
  /* About Us Page Third Section */
  
  .about-third-sec{
    padding: 0.125vw 0 0;
  }
  .pc{
    display: none; 
  }
  .sp{
    display: block;
  }
  .about-third-sec .contact .contact-img{
    float: left;
    width: 91.7%;
    max-width: 78.125vw;
    margin: 0 auto;
  }
  .about-third-sec .contact .contact-us{
    float: right;
    font-size: 3.438vw;
    width: 100%;
    padding: 15% 4.688vw;
  }
}