body {
  margin: 0 auto !important;
  font-size: 20px;
}

.card {
  margin: 0 auto;
  max-width: 70%;
  margin-top: 10%;
  background-color: lightgrey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile-header {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  color: #01015d;
  letter-spacing: 0.5px;
  margin-bottom: 3%;
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: 0 0 3% 35%;
}

.card ul {
  margin: 0 auto;
  max-width: 80%;
  line-height: 4;
}

.card ul .float-right {
  float: right;
}

.card .btn-div {
  margin: 0 auto;
  max-width: 23.5%;
}

.card .button1 {
  margin-left: 38%;
}

.card .button2 {
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
}

.confirm-btn1 {
  margin-left: 34%;
  padding: 10px;
  border-radius: 15px;
  background-color: #a8c6fa;
}

.confirm-btn2 {
  padding: 10px;
  border-radius: 15px;
}

.margin-btn {
  margin-left: 38%;
}

.fix-image {
  width: 200px;
  height: 200px;
}

/*for ipad*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .card {
    margin: 0 auto;
    max-width: 85%;
    margin-top: 10%;
    margin-bottom: 2.604vw;
  }
  .profile-header {
    font-size: 3.255vw;
  }
  .card ul {
    margin: 0 auto;
    max-width: 90%;
    line-height: 4;
    font-size: 2.604vw;
  }
  .card .button1 {
    padding: 10px;
  }
  .card button {
    width: 13%;
  }
  .card .button2 {
    margin-top: 10px;
  }
  .fix-image {
    width: 26.042vw;
    height: 26.042vw;
  }
  .profile-img {
    margin: 0 0 3% 29%;
    width: 26.042vw;
    height: 26.042vw;
  }
}

/*for moblie */
@media screen and (max-width: 767.9px) {
  .card {
    max-width: 100%;
    font-size: 2.5vw;
    margin-bottom: 0;
  }
  .profile-header {
    padding-top: 3.125vw;
    font-size: 3.906vw;
    letter-spacing: 0.078vw;
  }
  .card ul {
    margin: 0 auto;
    max-width: 95%;
    line-height: 4;
  }
  .card .button1 {
    padding: 1.563vw;
    width: 10.142vw;
    border-radius: 2.344vw;
    font-size: 2.5vw;
  }
  .card .button2 {
    margin-top: 1.563vw;
    padding: 1.563vw;
    border-radius: 2.344vw;
    font-size: 2.5vw;
  }
  .fix-image {
    width: 31.25vw;
    height: 31.25vw;
  }
  .profile-img {
    margin: 0 0 3% 30%;
    width: 31.25vw;
    height: 31.25vw;
  }
}